<div class="card-group " >
    <div class="card">
       <img src=""src="assets/img/{{order.img}}.jpg" class="card-img-top" alt="enas"> -->
      <div class="card-body">
        <h5 class="card-title"> {{order.id}} </h5>
        <p class="card-text">{{order.name }}  </p>
         <p class="card-text">{{order.description }}  </p> -->
         <p class="card-text">  {{order.price | currency: 'USD'}} </p> -->
         <!-- <button (click)="addToCard(order)" class="btn btn-primary orbut">Add to Card</button> -->
         
      </div>
    </div>
